:root {
   --slide-width: 100%;
   --slide-height: 200px;
}
@tailwind base;
@tailwind components;
html {
   scroll-behavior: smooth;
}
.img-shadow {
   filter: drop-shadow(1px 1px 3px #000);
}
.flip-wave {
   transform: scaleX(-1);
}
.layer-wave {
   z-index: -10;
}
@responsive {
   .svg-height {
      height: 75vh;
   }
}

.font-italic {
   font-family: 'Courgette', cursive;
}

.anchor {
   animation: blink 0.35s linear alternate infinite;
}

@keyframes blink {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 0.5;
   }
   100% {
      opacity: 1;
   }
}

@tailwind utilities;
